<ion-header>
  <ion-toolbar>
    <ion-datetime displayFormat="YYYY年MM月DD日" pickerFormat="YYYY MM DD"
                  [(ngModel)]="todayString"
                  (ngModelChange)="ok($event)"
                  cancelText="取消"
                  doneText="确定"
    >
    </ion-datetime>
    <ion-segment [(ngModel)]="workStatus" (ionChange)="statusChanged($event)">
      <ion-segment-button value="working">
        未完成
        <ion-badge item-end *ngIf="statusCount.working!=0">{{statusCount.working}}</ion-badge>
      </ion-segment-button>
      <ion-segment-button value="done">
        已完成
        <ion-badge item-end *ngIf="statusCount.done!=0">{{statusCount.done}}</ion-badge>
      </ion-segment-button>
      <ion-segment-button value="all">
        全部
        <ion-badge item-end *ngIf="statusCount.all!=0">{{statusCount.all}}</ion-badge>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-group *ngFor="let group of groups">
      <ion-item-divider sticky>
        <ion-label>
          {{group?.hour_name}}
        </ion-label>
      </ion-item-divider>

      <ion-item-sliding *ngFor="let op of group.opList" track="ionic">
        <button ion-item (click)="goToDetail(op.id)">
          <h2>{{op.sequelize}}</h2>
          <h3 *ngIf="op.sequelize!=1">{{op?.businessContent?.equipment}} {{op?.businessContent?.equipOp?.name}}</h3>
          <h3 *ngIf="op.sequelize==1">{{op.businessContent.equipOp.name}}{{op.businessContent.equipment}} </h3>
          <p>
            {{op.create_time|dateList}} &mdash;
            {{op?.order?.corporation?.name}}
          </p>
        </button>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>
</ion-content>





