<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">关闭</button>
    </ion-buttons>
    <ion-title>
      工单信息
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      {{operation?.no}}号工单
    </ion-list-header>
    <ion-item>
      <ion-label fixed>公司：</ion-label>
      <ion-label (press)="openCorporationEditPage(operation.id,operation.order.corporation.id,operation.order.corporation.groupId)">
        {{operation?.order?.corporation.name}}
        <ion-icon name="create" md="md-create" color="primary" style="float:right" (click)="openCorporationEditPage(operation.id,operation.order.corporation.id,operation.order.corporation.groupId)"></ion-icon>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>来电号码：</ion-label>
      <ion-label (press)="openPhoneEditPage(operation.id,operation.order.custom_phone)" >
        {{operation?.order?.custom_phone=='15822927208'?'':operation?.order?.custom_phone}}
        <ion-icon name="create" md="md-create" color="primary" style="float:right" (click)="openPhoneEditPage(operation.id)"></ion-icon>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>来电客户：</ion-label>
      <ion-label (press)="openUserEditPage(operation.id,operation.order.custom_name)">{{operation?.order?.custom_name}}
        <ion-icon name="create" md="md-create" color="primary" style="float:right" (click)="openUserEditPage(operation.id,operation.order.custom_name)"></ion-icon>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label fixed>加急：</ion-label>
      <ion-label *ngIf="operation?.important" color="angular" >加急
        <ion-icon name="create" md="md-create" color="primary" style="float:right"></ion-icon>
      </ion-label>
      <ion-label *ngIf="!operation?.important" color="secondary" >不加急
        <ion-icon name="create" md="md-create" color="primary" style="float:right"></ion-icon>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>内容：</ion-label>
      <ion-label *ngIf="operation?.businessContent?.sequence==0">
        {{operation?.businessContent?.equipment}}{{operation?.businessContent?.equipOp?.name}}
        <ion-icon name="create" md="md-create" color="primary" style="float:right"></ion-icon>
      </ion-label>
      <ion-label *ngIf="operation?.businessContent?.sequence==1">
        {{operation?.businessContent?.equipOp?.name}}{{operation?.businessContent?.equipment}}
        <ion-icon name="create" md="md-create" color="primary" style="float:right"></ion-icon>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>订单备注：</ion-label>
      <ion-label >{{operation?.remark}}
        <ion-icon name="create" md="md-create" color="primary" style="float:right"></ion-icon>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
